<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Main Sidebar Container -->
    {% include 'Dashboard/navbar.html.twig' %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>DataTables</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">DataTables</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">

                        <!-- /.card -->

                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Liste des commande</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                    <tr bgcolor="gray">
                                        <th>Modifier</th>
                                        <th>Ref</th>
                                        <th>Nom du client</th>
                                        <th>Adresse du client</th>
                                        <th>Montant de la commande</th>
                                        <th>Numero telephone du client</th>
                                        <th>Date de creation</th>
                                        <th>Etat</th>
                                        <th>Numero du colis</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for commande in commandes %}
                                        <tr>
                                            <th>
                                                <a href="{{path("Admin.CommandeGros.edit",{id: commande.id})}}" class="btn btn-secondary">Editer</a>
                                                <form method="post" action="{{ path('Admin.CommandeGros.delete',{id: commande.id}) }}" style="display: inline-block" onsubmit="return confirm('Sur??')">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete'~ commande.id) }}">
                                                    <button class="btn btn-danger">Supprimer</button>
                                                </form>
                                            </th>
                                            <th>{{ commande.ref }}</th>
                                            <th>{{ commande.nomProp }}</th>
                                            <th>{{ commande.adresse }}</th>
                                            <th>{{ commande.montantTotal }}</th>
                                            <th>{{ commande.mondat }}</th>
                                            <th>{{ commande.restePayer }}</th>
                                            <th>{{ commande.numTel }}</th>
                                            <th>{{ commande.dateCreation |date("d/m/Y h:m") }}</th>
                                            <th>{{ commande.etat }}</th>
                                            <th>{{ commande.numColis }}</th>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Modifier</th>
                                        <th>Ref</th>
                                        <th>Nom du client</th>
                                        <th>Adresse du client</th>
                                        <th>Montant de la commande</th>
                                        <th>Numero telephone du client</th>
                                        <th>Date de creation</th>
                                        <th>Etat</th>
                                        <th>Numero du colis</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {% include 'Dashboard/footer.html.twig' %}
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
</body>