{% extends 'Dashboard/base.html.twig' %}
{% block title %} Editer {% endblock %}
{% block body %}

    {% include "Dashboard/navbar.html.twig" %}
    <body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Main Sidebar Container -->
    {% include'./Dashboard/navbar.html.twig' %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>DataTables</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">DataTables</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Modifier la commande</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <div class="form-group col-md-6">
                                            <label>Reference</label>
                                            {{ form_widget(form.ref) }}
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Nom client</label>
                                            {{ form_widget(form.nomProp) }}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">

                                        <label>Address</label>
                                        {{ form_widget(form.adresse) }}

                                    </div>
                                    <div class="form-group">
                                        <div class="form-group col-md-6">
                                            <label>Numero du mondat</label>
                                            {{ form_widget(form.mondat) }}
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>Montant totale</label>
                                            {{ form_widget(form.montantTotal) }}
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>Reste a payer</label>
                                            {{ form_widget(form.restePayer) }}
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Etat</label>
                                                {{ form_widget(form.etat) }}
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-success">Modifier</button>
                                </form>
                            </div>
                            <!-- /.card-body -->
                        </div>
{% endblock %}